.bg{
    background-color: chocolate;
    height: 300px;
    font-size: 25px;
}
.background-attachment{
    background-image: url(./download.jfif);
    height: 300px;
    background-attachment: fixed;

}
.background-clip{
    background-image: url(./download.jfif);
    height: 300px;
    font-size: 25px;
   background-clip: content-box;
    color: blue;
}


.background-repeat{
    background-image: url(./download.jfif);
    height: 300px;
    font-size: 25px;
    color: chartreuse;
    background-repeat: repeat-y;
}

.background-position{
    background-image: url(./download.jfif);
    height: 300px;
    font-size: 25px;
    color: brown;
    border: 10px solid red;
    background-position: center;
}
.background-size{
    background-image: url(./download.jfif);
    height: 300px;
    font-size: 25px;
    color: aqua;
    background-size: contain;
}

.background{
    background-image: url(./download.jfif);
    height: 300px;
    font-size: 25px;
    color: blueviolet;
}
.background-flag{
  background: linear-gradient(orange,white,green);
    height: 400px;
    font-size: 25px;
}