#box{
    width: 900px;
    border: 1px solid;
    margin: 0 auto;
}
button{
    display: block;
    margin: 0 auto;
    padding: 6px 20px;
}
.bg{
    color: rgb(227, 227, 227);
    background-color: brown;
    padding: 20px;
}