h1{
    font-size: 40px;
    text-align: center;
}
.container{
    margin: 0 auto;
    margin-top: 40px;
    width: 700px;
    border: 2px solid;
    height: 200px;
    box-shadow: 3px 3px rgb(141, 52, 52), -1em 0 0.4em rgb(196, 196, 45);
}
.box{
    font-family: sans-serif;
    width: 600px;
    margin: 0 auto;
}