.header-bg{
    background-color: coral;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color: transparent;
    
}  
.carousel-item p {
    padding: 0 30px;

}

.color{
    color: coral !important;
    font-size: 30px;
}